@CHARSET "UTF-8";
/* 
 *  @Description: common css
 *  @author: haibao
 *  @Update: 2014-6-6
 */
body{font: 12px/140% "Microsoft Yahei","微软雅黑",'Arial','san-serif';
     background-color:#666666;
     color: #666;
     text-align:center;
     margin: 0;
     padding: 0;}

img {max-width: 100%;
    height: auto;
    width: auto9;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
    -moz-animation: fadein 350ms ease-out;
    -webkit-animation: fadein 350ms ease-out;
    -o-animation: fadein 350ms ease-out;
    animation: fadein 350ms ease-out;}

p   {margin:0;}


.content{padding:0 0 30px;
        width:910px;
        margin:-10px auto auto;}

.tc{text-align:center;}

 .skinBg{width:100%;
         height:100%;
         position:absolute;
         left:0;
         top:0;
         z-index:-10;
         background-position:center 0;
         background-size:cover;
         background-attachment:fixed;
         background-repeat:no-repeat;}


#exampleModal{
    top: -30px;
    left: -20px;
}




