<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>图片检索结果</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/css/img/normalize.css">
    <link rel="stylesheet" href="/static/css/img/font-awesome.css">
    <link rel="stylesheet" href="/static/css/img/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/img/templatemo-style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/result.css"/>
    <script src="/static/js/img/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
<!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<div id="loader-wrapper">
    <div id="loader"></div>
</div>

<div class="content-bg"></div>
<div class="bg-overlay"></div>

<!-- SITE TOP -->
<div class="site-top">
    <div class="site-header clearfix">
        <div class="container">
            <header class="clearfix">

        <span><a href="/">CFM</a><span class="bp-icon bp-icon-about"
                                       data-content=" 未来媒体研究中心申恒涛教授团队自 2014 年成立以来，除瞄准高水平学术科研工作外，还高度重视创新人才培养工作。中心全体教师均承担本科和研究生教学，在培养学生从事高水平科研“硬实力”的同时，通过“听说读写”新四会能力的培养提升学生的“软实力”，助力培育具有跨界交叉融合、集成创新能力，具有国际视野的创新拔尖人才。三年来，团队培养优秀研究生 76 余人，其中包括博士生 9 人，硕士研究生共 67 人。"></span></span>
                <h1>检索结果</h1>

            </header>
        </div>
    </div> <!-- .site-header -->
    <div class="site-banner">
        <div class="container">
            <div class="row row_box">
                <img style="max-height: 200px;max-width: 250px;margin: auto;display: block"
                     src="/download/{{ search_id }}.jpg"
                     class="row_box img-thumbnail">
                <div class="col-md-8 text-center" style="margin-top: 60px;">
                    <h2>检索图片所属类别：<span class="blue">&nbsp&nbsp{{ label }}</span></h2>
                    <p>全部类别：{% for category in categories_list %} {{ category }}
                        &nbsp&nbsp {% endfor %}</p>
                </div>
            </div>
        </div>
    </div> <!-- .site-banner -->
</div> <!-- .site-top -->
<!-- MAIN POSTS -->
<div class="main-posts">
    <div class="container">
        <div class="row">
            <div class="blog-masonry masonry-true">
                {% for img in imgs %}
                    <div class="post-masonry col-md-12 col-sm-12">
                        <div class="post-thumb">
                            <p style="color: black;margin: 20px;">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ img["texts"][:2500] + "..." }}</p>
                            <br><br>
                            <div class="title-over">
                                <h4><a href="/detail/{{ img["id"] }}?rel={{ search_id }}&type=1">{{ img["name"] }}</a></h4>
                            </div>
                            <a href="/detail/{{ img["id"] }}?rel={{ search_id }}&type=1" style="color: inherit;">
                                <div class="post-hover text-center">
                                    <div class="inside text_box">
                                        <img src="/static/wikipedia_images/{{ img["pic_id"] }}.jpg"
                                             style="max-height: 250px;max-width: 300px;vertical-align:center;margin: auto"
                                             alt="">
                                        <div style="margin: auto;">
                                            <i class="fa fa-eye"></i>
                                            <span>Click to view picture.</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div> <!-- /.post-masonry -->
                {% endfor %}

            </div>
        </div>
    </div>
</div>

<!-- FOOTER -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="copyright-text">Copyright &copy; 2018 罗聪健
                    - 毕业设计</p>
            </div>
        </div>
    </div>
</footer>

<script src="/static/js/img/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/static/js/img/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script src="/static/js/img/min/plugins.min.js"></script>
<script src="/static/js/img/min/main.min.js"></script>

<!-- Preloader -->
<script type="text/javascript">
    //<![CDATA[
    $(window).load(function () { // makes sure the whole site is loaded
        $('#loader').fadeOut(); // will first fade out the loading animation
        $('#loader-wrapper').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
        $('body').delay(350).css({'overflow-y': 'visible'});
    })
    //]]>
</script>
<!-- templatemo 434 masonry -->
</body>
</html>