<!DOCTYPE html>

<html lang="en" class="no-js" xmlns="http://www.w3.org/1999/html">

<head>

    <title>文字检索结果</title>

    <meta charset="UTF-8"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Blueprint: Google Grid Gallery</title>

    <meta name="description" content="Blueprint: Blueprint: Google Grid Gallery"/>

    <meta name="keywords" content="google getting started gallery, image gallery, image grid, template, masonry"/>

    <meta name="author" content="Codrops"/>

    <link rel="shortcut icon" href="/static/images/favicon.ico">

    <link rel="stylesheet" type="text/css" href="/static/css/demo.css"/>

    <link rel="stylesheet" type="text/css" href="/static/css/component.css"/>

    <link rel="stylesheet" type="text/css" href="/static/css/result.css"/>

    <script src="/static/js/modernizr.custom.js"></script>

</head>

<body>

<div class="container">

    <header class="clearfix">

        <span onclick="goToIndex()">CFM <span class="bp-icon bp-icon-about"
                                              data-content=" 未来媒体研究中心申恒涛教授团队自 2014 年成立以来，除瞄准高水平学术科研工作外，还高度重视创新人才培养工作。中心全体教师均承担本科和研究生教学，在培养学生从事高水平科研“硬实力”的同时，通过“听说读写”新四会能力的培养提升学生的“软实力”，助力培育具有跨界交叉融合、集成创新能力，具有国际视野的创新拔尖人才。三年来，团队培养优秀研究生 76 余人，其中包括博士生 9 人，硕士研究生共 67 人。"></span></span>
        <h1>检索结果</h1>

    </header>


    <div style="height: 220px;max-width: 69em;margin: auto;padding-left: 10%;padding-right: 10%" class="box">
        <div style="height: 200px;" class="row_box">
            <img style="max-height: 200px;max-width: 250px;margin: auto;display: block"
                 src="/download/{{ search_id }}.jpg"
                 class="img-thumbnail">
            <h3 align="center" style="width: 50%;line-height: 105px;padding-right: 30px">检索图像类别：{{ label }}</h3>
        </div>
        <div class="row_box">
            <p style="margin: auto">全部类别：{% for category in categories_list %} {{ category }}
                &nbsp&nbsp {% endfor %}</p>
        </div>
    </div>

    <div style="height: 1px;max-width: 69em;margin: auto;padding-left: 10%;padding-right: 10%" class="box">
    </div>

    <div id="grid-gallery" class="grid-gallery">

        <section class="grid-wrap">

            <ul class="grid">

                <li class="grid-sizer"></li><!-- for Masonry column width -->

                {% for img in imgs %}
                    <li>

                        <figure>

                            <img src="/static/wikipedia_images/{{ img["pic_id"] }}.jpg" alt="img01"/>

                            <figcaption>
                                <h3>图{{ loop.index }} &nbsp
                                    {% if img["name"]|length  > 15 %} {{ img["name"][:15] + "..." }}
                                    {% else %} {{ img["name"] }}
                                    {% endif %}
                                </h3>
                                <p>{{ img["texts"][:150] + "...." }}</p></figcaption>

                        </figure>

                    </li>

                {% endfor %}

            </ul>

        </section><!-- // grid-wrap -->

        <section class="slideshow">

            <ul>
                {% for img in imgs %}
                    <li>

                        <figure>

                            <figcaption>

                                <h3>图{{ loop.index }} &nbsp {{ img["name"] }}</h3>

                                <p>文章：<br> {{ img["texts"] }}</p>

                            </figcaption>

                            <img src="/static/wikipedia_images/{{ img["pic_id"] }}.jpg" alt="img01"/>

                        </figure>

                    </li>

                {% endfor %}

            </ul>

            <nav>

                <span class="icon nav-prev"></span>

                <span class="icon nav-next"></span>

                <span class="icon nav-close"></span>

            </nav>

            <div class="info-keys icon">Navigate with arrow keys</div>

        </section><!-- // slideshow -->

    </div><!-- // grid-gallery -->

</div>

<script src="/static/js/imagesloaded.pkgd.min.js"></script>

<script src="/static/js/masonry.pkgd.min.js"></script>

<script src="/static/js/classie.js"></script>

<script src="/static/js/cbpGridGallery.js"></script>

<script>

    new CBPGridGallery(document.getElementById('grid-gallery'));

    function goToIndex() {
        window.location.href = "/"
    }
</script>

</body>

</html>

